<a href="https://colab.research.google.com/github/Prasad3617/Python_Practice/blob/main/Creating_and_accessing_elements_within_a_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# "Tuples" as a datastructure in python programming language.

In [1]:
tup1=[1,3,5,7,9]                            #creating a tuple.
print("The tuple created is: ",tup1)        #printing the tuple created.

The tuple created is:  [1, 3, 5, 7, 9]

In [6]:
l1=[0,2,4,6,8]                                                                      #creating a list.

tup2=tuple(l1)                                                                      #creating a 'tuple', 'tup2' out of a 'list' 'l1'.
print("The tuple created from a list 'l1' is:",tup2)                                #printing the tuple created from a list.

print("\nThe datatypes of 'l1' and 'tup2' are:",type(l1),type(tup2),"respectively.")  #printing the datatypes of 'l1' and 'tup2'

The tuple created from a list 'l1' is: (0, 2, 4, 6, 8)

The datatypes of 'l1' and 'tup2' are: <class 'list'> <class 'tuple'> respectively.

## Accessing elements of a tuple

In [8]:
print("The tuple 'tup2' is:",tup2)                          #printing the tuple 'tup2'.

print("\ntup2[0] is:",tup2[0])                                #accesing the first four elements of the tuple 'tup2'
print("\ntup2[1] is:",tup2[1])
print("\ntup2[2] is:",tup2[2])
print("\ntup2[3] is:",tup2[3])

The tuple 'tup2' is: (0, 2, 4, 6, 8)

tup2[0] is: 0

tup2[1] is: 2

tup2[2] is: 4

tup2[3] is: 6