<a href="https://colab.research.google.com/github/Prasad3617/Python_Practice/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating a Dictionary

In [1]:
capitals={'Telangana':'Hyderabad','TamilNadu':'Chennai','Karnataka':'Bengaluru','AndhraPradesh':'Hyderabad','Maharashtra':'Mumbai'}

print('Capitals: ',capitals)

Capitals:  {'Telangana': 'Hyderabad', 'TamilNadu': 'Chennai', 'Karnataka': 'Bengaluru', 'AndhraPradesh': 'Hyderabad', 'Maharashtra': 'Mumbai'}

### Creating a 'Dictionary' from other collection datatypes: 'lists', 'tuples' etc.

#### #from strings

In [2]:
dict1=dict(Uk="london", Ireland="Dublin", France="Paris")
print("dict1:",dict1)

dict1: {'Uk': 'london', 'Ireland': 'Dublin', 'France': 'Paris'}

#### #from list of tuples

In [3]:
dict2=dict([('Uk','London'),('Ireland','Dublin'),('France','Paris')])
print("dict2:",dict2)

dict2: {'Uk': 'London', 'Ireland': 'Dublin', 'France': 'Paris'}

#### #from tuple of lists

In [4]:
dict3=dict((['Uk','London'],['Ireland','Dublin'],['France','Paris']))
print(dict3)

{'Uk': 'London', 'Ireland': 'Dublin', 'France': 'Paris'}

#### #Working with dictionaries

In [5]:
print("The capitals dictionary is:",capitals)

print("\nThe capital city of 'Telangana' is:",capitals['Telangana'])

#Adding a new key-value pair to 'Capitals'
capitals['Kerala']='Thiruvananthapuram'
print("\nThe modified dictionary capitals is:",capitals)

#Modifying the 'Value' of a Key in the dictionary
capitals['AndhraPradesh']='Amravati'
print("\nYet, the modified dictionary capitals is:",capitals)

#'in' & 'not in' operators
print('\nAssam is in capitals, True or False:','Assam' in capitals)
print('\nOdisha is not in capitals, True or False:','Odisha' not in capitals)

#printing the length of capitals
print("\nThe length of capitals is:",len(capitals))

The capitals dictionary is: {'Telangana': 'Hyderabad', 'TamilNadu': 'Chennai', 'Karnataka': 'Bengaluru', 'AndhraPradesh': 'Hyderabad', 'Maharashtra': 'Mumbai'}

The capital city of 'Telangana' is: Hyderabad

The modified dictionary capitals is: {'Telangana': 'Hyderabad', 'TamilNadu': 'Chennai', 'Karnataka': 'Bengaluru', 'AndhraPradesh': 'Hyderabad', 'Maharashtra': 'Mumbai', 'Kerala': 'Thiruvananthapuram'}

Yet, the modified dictionary capitals is: {'Telangana': 'Hyderabad', 'TamilNadu': 'Chennai', 'Karnataka': 'Bengaluru', 'AndhraPradesh': 'Amravati', 'Maharashtra': 'Mumbai', 'Kerala': 'Thiruvananthapuram'}

Assam is in capitals, True or False: False

Odisha is not in capitals, True or False: True

The length of capitals is: 6

#### #Removing item(s) from a dictionary

In [6]:
print(capitals)
print("\nThe value of last item deleted is:",capitals.popitem())
print("\nThe capital of Telangana is:",capitals.pop("Telangana"))
del capitals['Karnataka']
print("\nThe capitals dictionary after the above deletions is:",capitals)
print("\nClearing the dictionary!")
capitals.clear()
print("\nThe dictionary capitals after clearing is:",capitals, ",i.e. an empty dictionary.")

{'Telangana': 'Hyderabad', 'TamilNadu': 'Chennai', 'Karnataka': 'Bengaluru', 'AndhraPradesh': 'Amravati', 'Maharashtra': 'Mumbai', 'Kerala': 'Thiruvananthapuram'}

The value of last item deleted is: ('Kerala', 'Thiruvananthapuram')

The capital of Telangana is: Hyderabad

The capitals dictionary after the above deletions is: {'TamilNadu': 'Chennai', 'AndhraPradesh': 'Amravati', 'Maharashtra': 'Mumbai'}

Clearing the dictionary!

The dictionary capitals after clearing is: {} i.e. an empty dictionary.

#### #Iterate over Keys and Values

In [11]:
capitals={'Telangana':'Hyderabad','TamilNadu':'Chennai','Karnataka':'Bengaluru','AndhraPradesh':'Hyderabad','Maharashtra':'Mumbai'}

for state in capitals:
  print(state,end=',')
  print(capitals[state])

for cap in capitals.values():
  print("\n",cap)

print("\n",capitals.values())
print("\n",capitals.keys())
print("\n",capitals.items())

Telangana,Hyderabad
TamilNadu,Chennai
Karnataka,Bengaluru
AndhraPradesh,Hyderabad
Maharashtra,Mumbai

 Hyderabad

 Chennai

 Bengaluru

 Hyderabad

 Mumbai

 dict_values(['Hyderabad', 'Chennai', 'Bengaluru', 'Hyderabad', 'Mumbai'])

 dict_keys(['Telangana', 'TamilNadu', 'Karnataka', 'AndhraPradesh', 'Maharashtra'])

 dict_items([('Telangana', 'Hyderabad'), ('TamilNadu', 'Chennai'), ('Karnataka', 'Bengaluru'), ('AndhraPradesh', 'Hyderabad'), ('Maharashtra', 'Mumbai')])

#### #Nested Dictionaries

In [12]:
Seasons={'Spring':('Mar','April','May'),
         'Summer':('June','July','August'),
         'Autumn':('Sep','Oct','Nov'),
         'Winter':('Dec','Jan','Feb')}
print(Seasons['Spring'])  
print("\n",Seasons['Spring'][1])

('Mar', 'April', 'May')

 April

#### #Implementing a 'histogram' to count the number of letters in sentence

In [15]:
sentence=input("Enter a sentence: ")
d=dict()

for c in sentence:
  if c not in d:
    d[c]=1
  else:
    d[c]+=1  
print("\nThe frequency of letter in the given sentence is:",d)

Enter a sentence: The collection data types in pythion are: 'Lists', 'Tuples', 'Sets' and 'Dictionaries'.

The frequency of letter in the given sentence is: {'T': 2, 'h': 2, 'e': 7, ' ': 11, 'c': 3, 'o': 4, 'l': 3, 't': 7, 'i': 7, 'n': 5, 'd': 2, 'a': 5, 'y': 2, 'p': 3, 's': 6, 'r': 2, ':': 1, "'": 8, 'L': 1, ',': 2, 'u': 1, 'S': 1, 'D': 1, '.': 1}