<a href="https://colab.research.google.com/github/Prasad3617/Python_Practice/blob/main/Python_Practice03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What are the advantages of using a for loop in Python?

In [8]:
#A "for" loop allows us to perform iterations and print an output of a long and repeatative task with a fewer line of code.
#for eg: Calculating factorial of a number in few and easy steps.
n=int(input("1) Enter a  positive intger to calculate its factorial: "))  #taking input from user       
print("\n")

i=r=1
for i in range(1,(n+1)):
  r*=i
  i+=1

print("The factorial of",n,"is: ",r)
  


#################################################################################################

# another advantage of a "for" loop is: performing python's ooperation over a known and limited range is simpler.
#for eg: Calculating the average of  "n" natural numbers, "n" being given input by the user.
print("\n")
n=int(input("2) Enter the quantity of integer(s) for calculating average: "))       #taking an input from the user.
print("\n")

sum=0
for j in range(n):
  k=int(input("Enter an ineteger: "))
  sum+=k
  j+=1

average=sum/n
print(" The average is: ", average)

1) Enter a  positive intger to calculate its factorial: 5


The factorial of 5 is:  120


2) Enter the quantity of integer(s) for calculating average: 5


Enter an ineteger: 10
Enter an ineteger: 10
Enter an ineteger: 10
Enter an ineteger: 10
Enter an ineteger: 10
 The average is:  10.0

2. Write a program to determine how many of the numbers between 1 and 10000 contain the digit 3.

In [2]:
#we will make use of the decision-control statements within a loop as follows:-

count1=0 #initialising a variable to contain the result of counting

for i in range(1,10001):         #condition for the loop 
  if "3" in str(i):              #next operational condition for the loop
    count1+=1                    #incrementing the loop
  else:
    continue                     #using the 'continue' statement to skip not required values.

print("The required quantity of integers according to the condition is: ",count1)

The required quantity of integers according to the condition is:  3439

3. Ask the user for a number and then print the following, where the pattern ends at the number that the user enters.
1
2
3
4

In [12]:
x=int(input("Enter a positive integrer: "))                   #taking in input from the user

for i in range(1,x+1):                                        #performing iteration(S)
  print(i,"\t")

Enter a positive integrer: 3
1
2
3


4. Differentiate between break and continue statements using examples.

In [19]:
#"break statement" is used to terminate the entire "iteration" or "loop" on encountering 
#a particular situation
print("Use of 'break' statement:")
i=0
while i<10:                             #condition for the loop
  i+=1                                  #incrementing the loop
  if i!=7:
    print(i,"\t")
  else:
    break                               #making use of the 'break' statement
print("\nPlease take note of the ouput, numbers 'after 7' aren't printed.")
#"continue statement" is used to skip a particular iteration in a loop on encountering a 
#particular condition, without terminating the entire loop. 

print("\n")
print("Use of 'continue' statement:")              
l=0
while l<10:                             #condition for the loop
  l+=1                                  #incrementing the loop
  if l!=7:
    print(l,"\t")
  else:
    continue                            #making use of the 'continue' statement to perform the operation accordingly
print("\nPlease take note of the ouput, numbers 'other than 7' are printed.")

Use of 'break' statement:
1
2
3
4
5
6

Please take note of the ouput, numbers 'after 7' aren't printed.


Use of 'continue' statement:
1
2
3
4
5
6
8
9
10

Please take note of the ouput, numbers 'other than 7' are printed.

5. Write a program to display all the numbers which are divisible by 2 but not by 8 between 600 and 1600.

In [21]:
print("The numbers which satisfy the condition are:\n")         #taking in input from the user.
for d in range(600,1601):                                       #condition of the 'loop'
  if d%2==0 and d%8!=0:                                         #next condition for looping
    print(d,"\t")

The numbers which satisfy the condition are:

602
604
606
610
612
614
618
620
622
626
628
630
634
636
638
642
644
646
650
652
654
658
660
662
666
668
670
674
676
678
682
684
686
690
692
694
698
700
702
706
708
710
714
716
718
722
724
726
730
732
734
738
740
742
746
748
750
754
756
758
762
764
766
770
772
774
778
780
782
786
788
790
794
796
798
802
804
806
810
812
814
818
820
822
826
828
830
834
836
838
842
844
846
850
852
854
858
860
862
866
868
870
874
876
878
882
884
886
890
892
894
898
900
902
906
908
910
914
916
918
922
924
926
930
932
934
938
940
942
946
948
950
954
956
958
962
964
966
970
972
974
978
980
982
986
988
990
994
996
998
1002
1004
1006
1010
1012
1014
1018
1020
1022
1026
1028
1030
1034
1036
1038
1042
1044
1046
1050
1052
1054
1058
1060
1062
1066
1068
1070
1074
1076
1078
1082
1084
1086
1090
1092
1094
1098
1100
1102
1106
1108
1110
1114
1116
1118
1122
1124
1126
1130
1132
1134
1138
1140
1142
1146
1148
1150
1154
1156
1158
1162
1164
1166
1170
1172
1174
1178
1180
1182
1186
1188
1190
1194
1196
1198
1202
1204
1206
1210
1212
1214
1218
1220
1222
1226
1228
1230
1234
1236
1238
1242
1244
1246
1250
1252
1254
1258
1260
1262
1266
1268
1270
1274
1276
1278
1282
1284
1286
1290
1292
1294
1298
1300
1302
1306
1308
1310
1314
1316
1318
1322
1324
1326
1330
1332
1334
1338
1340
1342
1346
1348
1350
1354
1356
1358
1362
1364
1366
1370
1372
1374
1378
1380
1382
1386
1388
1390
1394
1396
1398
1402
1404
1406
1410
1412
1414
1418
1420
1422
1426
1428
1430
1434
1436
1438
1442
1444
1446
1450
1452
1454
1458
1460
1462
1466
1468
1470
1474
1476
1478
1482
1484
1486
1490
1492
1494
1498
1500
1502
1506
1508
1510
1514
1516
1518
1522
1524
1526
1530
1532
1534
1538
1540
1542
1546
1548
1550
1554
1556
1558
1562
1564
1566
1570
1572
1574
1578
1580
1582
1586
1588
1590
1594
1596
1598

6. Write a program to print the following pattern.

A A A A

A A A A

A A A A

A A A A

In [35]:
i=0                               #initialising a variable
while i<4:                        #looping according to the condition
  for j in range(4):              #             ""
    print("A",sep=" ",end=" ")
  i+=1                            #incrementing for iteration
  print("\n")

A A A A

A A A A

A A A A

A A A A

7. Write a program to print to find the sum of series .1 + 2 + 6 + 24 +120 â€¦ n terms.

In [43]:
print("There's a series as follows: 1,2,6,24,120.....")                        #explaining the series to the user.
n=int(input("\nEnter the number of integers to add in the above series: "))    #taking input from the user for the number of iterations to peform
print("\n")

sum=0                                                                          #initialising a variable to calculate sum
product=1                                                                      #initialising a variable to calculate and iterate in product

for i in range(1,n+1):
  sum+=i
  i*=product
  product+=1
print("\nThe sum of the series is: ", sum)

There's a series as follows: 1,2,6,24,120.....

Enter the number of integers to add in the above series: 4



The sum of the series is:  10

8. Write a program to print the sum of their cube of each digit.

In [45]:
g=int(input("\nEnter a positive integer to calculate the sum of the cube of the digits: "))     #taking input from the user
print("\n")
sum=0
r=i
for i in range(g+1):                                                            #condition for the loop
  r=i*i*i                                                                       #performing mathematical operations within the oop
  sum+=r
print("\nThe required sum is: ", sum)

Enter a positive integer to calculate the sum of the cube of the digits: 2



The required sum is:  9

9. Write a program to print a table that displays the growth of investment, Suppose he invests 3,000 every month, rate of growth is 5.7 and calculated for 5 years.

In [68]:
P,R,T=input("Enter the value for: 'Principal', 'Interest' & the 'Duration' for the investment: ").split()

p=int(P)                    #converting strings to integer
r=int(R)
t=int(T)
t1=t/t                      #making sure that interest stays constant through a 'year'. 

p1=p                        #making sure that the principal amount renews every year
for i in range(t):          #loop for printing the table
  SI=p*r*t1/100
  p1+=SI
  print("P ={0:10.2f}".format(p),"\tR =",r,"\tT={0:10.2f}".format(t1),"\tSI ={0:10.2f}".format(SI),"\tP1 ={0:10.2f}".format(p1))
  p=p1

Enter the value for: 'Principal', 'Interest' & the 'Duration' for the investment: 5000 6 6
P =   5000.00 	R = 6 	T=      1.00 	SI =    300.00 	P1 =   5300.00
P =   5300.00 	R = 6 	T=      1.00 	SI =    318.00 	P1 =   5618.00
P =   5618.00 	R = 6 	T=      1.00 	SI =    337.08 	P1 =   5955.08
P =   5955.08 	R = 6 	T=      1.00 	SI =    357.30 	P1 =   6312.38
P =   6312.38 	R = 6 	T=      1.00 	SI =    378.74 	P1 =   6691.13
P =   6691.13 	R = 6 	T=      1.00 	SI =    401.47 	P1 =   7092.60

10. Write a program to determine how many of the numbers between 1 and 10000 contain the digit 3.

In [70]:
count1=0 #initialising a variable to contain the result of counting
i=1
for i in range(1,10001):         #condition for the loop 
  if "3" in str(i):              #next operational condition for the loop
    count1+=1                    #incrementing the loop
  else:
    continue                     #using the 'continue' statement to skip not required values.

print("The required quantity of integers according to the condition is: ",count1)

The required quantity of integers according to the condition is:  3439

11. Write a Python program to find the geometric mean of n numbers

In [74]:
import math          #importing necessary libraries

In [77]:
n=int(input("Enter the number of integers to calculate their GM: "))                   #taking in input from the user

product=1                                                                              #initialising a variable to calculate its product
for i in range(n):                                                                     #condition for looping
  num=int(input("Enter a value: "))                                                    #taking in input from the user
  product*=num                                                                         #next condition for operation to be performed
print("The geometric Mean of the numbers entered by you is:",math.pow(product,(1/n)))  #conditions for the operations to be performed

Enter the number of integers to calculate their GM: 2
Enter a value: 10
Enter a value: 10
The geometric Mean of the numbers entered by you is: 10.0

12. Write a program by using user input sentences and calculate the number of uppercase letters and lower case letters using statement.

In [84]:
str2=input("Enter a Sentence: ")                                  #taking in input from the user 
str1=str2.replace(" ","")                                         #removing spaces in the sentence for ease of operation

countupper=0                                                      #initialising 1st variable
countlower=0                                                      #initialising 2nd variable
for i in range(len(str1)):                                        #condition for the loop
  if str1[i].isupper():
    countupper+=1                                                 #counting 'uppercase' charachters in the input sentence
  elif str1[i].islower():
    countlower+=1                                                 #counting 'lowercase' charachters in the input sentence
  else:
    print("Invalid Charachter!")   
#'break' statement can be used here for breaking the iteration for every 'invalid charachter' observed in the sentence
print("\nThe number of 'uppercase' and 'lowercase' letters in the sentence you typed are: ", countupper,",",countlower)

Enter a Sentence: Hello! What's your name?
Invalid Charachter!
Invalid Charachter!
Invalid Charachter!

The number of 'uppercase' and 'lowercase' letters in the sentence you typed are:  2 , 16

13. Ask the user for a number and then print the following, where the pattern ends at the number that the user enters.
1
2
3
4

In [88]:
a=int(input("Enter a value: "))            #taking input from the user.

i=1                                        #initialising a variable
while i<(a+1):                                 #condition for the loop
  print(i)                                 #printing the output
  i+=1                                     #incrementing the value by '1'

Enter a value: 5
1
2
3
4
5

14. Write a program that displays a temperature conversion table for degrees Celsius and degrees Fahrenheit. The table should include rows for all temperatures between 0 and 100 degrees Celsius that are multiples of 10 degrees Celsius. Include appropriate headings on your columns. The formula for converting between degrees Celsius and degrees Fahrenheit can be found on the internet.

In [94]:
degc=0                      #initialising variables for performing operations.
degf=0


while degc<101:             #condition for the loop.
  degf = degc*(1.8)+32      #formula for conversation of 'scales'.
  print("\nTemperature in Celcius Scale: ",degc,"\tTemperature in Farenheit scale: ",int(degf))
  degc+=10                  #incrementing the value within the variable.

Temperature in Celcius Scale:  0 	Temperature in Farenheit scale:  32

Temperature in Celcius Scale:  10 	Temperature in Farenheit scale:  50

Temperature in Celcius Scale:  20 	Temperature in Farenheit scale:  68

Temperature in Celcius Scale:  30 	Temperature in Farenheit scale:  86

Temperature in Celcius Scale:  40 	Temperature in Farenheit scale:  104

Temperature in Celcius Scale:  50 	Temperature in Farenheit scale:  122

Temperature in Celcius Scale:  60 	Temperature in Farenheit scale:  140

Temperature in Celcius Scale:  70 	Temperature in Farenheit scale:  158

Temperature in Celcius Scale:  80 	Temperature in Farenheit scale:  176

Temperature in Celcius Scale:  90 	Temperature in Farenheit scale:  194

Temperature in Celcius Scale:  100 	Temperature in Farenheit scale:  212

15. Write a program that uses a loop to ask the user to enter 10 numbers. Print out how many numbers are positive and add up all the numbers.

In [97]:
count1=0                                                              #initialising variables for performing operations.
sum=0

for i in range(10):                                                   #condition for iterating '10' times.
  z=int(input("\nEnter a value: "))                                   #taking in input from the user.
  if z>0:                                                             #conition for checking input.
    count1+=1                                                         #incrementing the count.
    sum+=z                                                            #summing the values.
  else:
    continue                                                          #skipping the 'negative' values.

print("\nThe number of positive integers are: ",count1)               #printing the number of 'possitive' integers on the sceen.

print("\nThe sum of the positive integers entered by you is: ",sum)   #printing the result of summation of all 'positive' integers.

Enter a value: 10

Enter a value: -10

Enter a value: 100

Enter a value: -102

Enter a value: 300

Enter a value: -5

Enter a value: -6

Enter a value: -7

Enter a value: 500

Enter a value: -350

The number of positive integers are:  4

The sum of the positive integers entered by you is:  910