<a href="https://colab.research.google.com/github/Prasad3617/Python_Practice/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sets**

In [1]:
s1={1,2,3,'abc'}                              #declaring a set.
print("The set 's1' is: ",s1)

s2=set()                                      #declaring an empty set.
print("\nThe set 's2' is: ",s2)

The set 's1' is:  {1, 2, 3, 'abc'}

The set 's2' is:  set()

###Transforming a 'list' into a set

In [2]:
l1=[1,2,3,4,5]                               #declaring a list.
s3=set(l1)                                   #converting the declared list into a set.

print("\nThe set 's3' is: ",s3)

The set 's3' is:  {1, 2, 3, 4, 5}

###Printing elements of a set and iterating over a set

In [8]:
s4=set()                                                    #declaring an empty set.
for i in range(7):                                          #iterations to collect input, in a set, from an user.
  j=input("Enter the name of your five friends: ")
  s4.add(j)                                                

print("\nThe list of your friends is: ",s4)                 #printing the set 's4'.
print("\nThe number of friends you have is: ",len(s4))

Enter the name of your five friends: amstark
Enter the name of your five friends: auntaa
Enter the name of your five friends: blubeauty
Enter the name of your five friends: rupanzel
Enter the name of your five friends: sak
Enter the name of your five friends: sam
Enter the name of your five friends: sky

The list of your friends is:  {'sky', 'sak', 'blubeauty', 'rupanzel', 'sam', 'auntaa', 'amstark'}

The number of friends you have is:  7

###"Add" and "Update" methods on a set

In [12]:
s4.add("ashu")                                                   #adding an element to the set.
print("\nThe set s4 is: ",s4)                                    #printing the new set 's4'

s4.update(['arpit','chetan','dhawal','kaustubh','manish'])       #updating the set 's4' 
print("\nThe updated set 's4' is: ",s4)                          #printing the updated set s4'

The set s4 is:  {'c', 'sak', 'm', 'sam', 'auntaa', 'r', 'i', 'n', 'arpit', 'chetan', 't', 'p', 'k', 's', 'ashu', 'a', 'l', 'dhawal', 'rupanzel', 'u', 'manish', 'b', 'sky', 'e', 'kaustubh', 'blubeauty', 'h', 'w', 'd', 'amstark'}

The updated set 's4' is:  {'c', 'sak', 'm', 'sam', 'auntaa', 'r', 'i', 'n', 'arpit', 'chetan', 't', 'p', 'k', 's', 'ashu', 'a', 'l', 'dhawal', 'rupanzel', 'u', 'manish', 'b', 'sky', 'e', 'kaustubh', 'blubeauty', 'h', 'w', 'd', 'amstark'}

###Conditional Statement on sets

In [6]:
k=input("Enter a name to check in your friends' list: ")

if k in s4:
  print("Yes, ",k," is your friend.")

else:
  print("No, ",k," isn't your friend.")

Enter a name to check in your friends' list: sky
Yes,  sky  is your friend.

###Obtaining the maximum and minimum values within a set

In [15]:
s5={1,12,123,1234,12345}                                         #declaring a set.
print("The set 's5' is: ",s5)

print("\nThe minimum value within a set 's5' is: ", min(s5))     #printing the minimum value within a set.
print("\nThe maximum value within a set 's5' is:  ",max(s5))     #printing the maximum value within a set.

The set 's5' is:  {1, 12, 1234, 12345, 123}

The minimum value within a set 's5' is:  1

The maximum value within a set 's5' is:   12345

###Nesting elements as a tuple within a set

In [21]:
s6={(1,2,4,12,48,120),'abc'}                                      #declaring a nested tuple within a set 's6'.

print("\nThe nested tuple within a mother set is: ", s6)          #printing the set 's6' with a tuple nested within itself as an element.

#uncomment and run the below code to prove that 'sets' though is an ordered datastructure but is an unindexed type of datasructure.
#print("\nThe nested element is: ",s6[0])

The nested tuple within a mother set is:  {(1, 2, 4, 12, 48, 120), 'abc'}

###Mathematical Operation(s) on Sets

In [22]:
s1={"apple","orange","banana"}                   #declaring th two sets.
s2={"grapefruit","lime","banana"}                

print("The set 's1' is: ",s1)                    #printing the two sets.
print("\nThe set 's2' is: ",s2)

The set 's1' is:  {'banana', 'orange', 'apple'}

The set 's2' is:  {'lime', 'banana', 'grapefruit'}

####'Union' operation

In [23]:
print("\nThe union of the two sets 's1' and 's2' is: ",s1|s2)

The union of the two sets 's1' and 's2' is:  {'banana', 'lime', 'orange', 'apple', 'grapefruit'}

####'Intersection' operation

In [24]:
print("\nThe intersection of the two sets 's1' and s2' is: ",s1&s2)

The intersection of the two sets 's1' and s2' is:  {'banana'}

####Difference operation

In [25]:
print("\nThe difference between the two sets 's1' and 's2' is: ",s1-s2)

The difference between the two sets 's1' and 's2' is:  {'orange', 'apple'}

####Symmetric difference

In [26]:
print("\nThe symmetric difference between the two sets 's1' and 's2' is: ",s1^s2)

The symmetric difference between the two sets 's1' and 's2' is:  {'lime', 'orange', 'grapefruit', 'apple'}