<a href="https://colab.research.google.com/github/Prasad3617/Python_Practice/blob/main/Tuple_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple Operations

In [ ]:
tup1=(1,"John", True, 25.5)                     #declaring a tuple.

for i in tup1:
  print("\n",i)

In [6]:
j=input("What is the entity, that you want to check?: ")               #taking input from the user.

#use of conditionals
if j in str(tup1):                                                     #checing from the tuple. 'str(tup1)' makes sure that every sort of datatype is taken care of in a single statement. Ponder: "tuples" are heterogeneous type of data structure, which can store elements of all the datatypes.
  print("\nYes ",j," is present!")
else:
  print("\nNo, ",j," isn't present.")

What is the entity, that you want to check?: true

No,  true  isn't present.

## Nested Tuples

In [12]:
tup2=(1,3,5,7,9)                                             #declaring a tuple. 
tup3=("Ramesh",tup1,"Suresh",tup2,"Dinesh")                  #declaring another tuple which nests other tuples. 

print("",tup1)
print("\n",tup2)
print("\n",tup3)                                                  #printing the nestd tuples within the mother tuple.

 (1, 'John', True, 25.5)

 (1, 3, 5, 7, 9)

 ('Ramesh', (1, 'John', True, 25.5), 'Suresh', (1, 3, 5, 7, 9), 'Dinesh')

## Accessing elements within a tuple

In [14]:
print("tup3[1]: ",tup3[1])                                       #we use index to access the elements within a tuple and another index to acess the elements within a nested tuple.
print("\ntup3[1][1]: ",tup3[1][1])

tup3[1]:  (1, 'John', True, 25.5)

tup3[1][1]:  John

##Comparision between tuples

In [16]:
tup4=(0,1,2)                          #declaring tuples
tup5=(0,2,1)
print("",tup4<tup5)                   #comparing the tuples

 True