<a href="https://colab.research.google.com/github/Prasad3617/Python_Practice/blob/main/WEEK_9_PYTHON_CHALLENGES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Create a data frame called DataFrame1. It should contain data about five employees. Each employee data consists of employee number, name, salary, department number and designation.

In [1]:
import pandas as pd

employeedata={
    "employeeno" :( 1,2,3,4,5),
    "name" : ("Robbin","Shawn","Tom","Peter","Mike"),
    "salary" : (100000,150000,100000,175000,2000000),
    "deptno" : ("101","102","101","102","101"),
    "designation" : ("Emp01","Manager01","Emp03","Manager02","CEO")
}

In [2]:
DataFrame1=pd.DataFrame(employeedata)    #creating a dataframe from the dictionary "employeedata", being given as a parameter

In [3]:
DataFrame1  #displaying the DataFrame1

   employeeno    name   salary deptno designation
0           1  Robbin   100000    101       Emp01
1           2   Shawn   150000    102   Manager01
2           3     Tom   100000    101       Emp03
3           4   Peter   175000    102   Manager02
4           5    Mike  2000000    101         CEO

### In the DataFrame1 defined in Q.No. 1, add appropriate column names to the columns. Find the mean of the salary in the DataFrame1.

In [4]:
print("Mean of the salary in the DataFrame is: ",DataFrame1["salary"].mean())    #calculating and printing the mean of the said values

Mean of the salary in the DataFrame is:  505000.0

### Create a dictionary called dept. In this dictionary, the columns are deptno, deptname and location. Create a data frame called DataFrame2 from the dictionary dept.

In [5]:
dept={
    "deptno":("101","102","103","104","105"),
    "deptname":("Mechanical Engineering","Civil Engineering","Computer Science Engineering","Electrical Engineering","Electronics Engineering"),
    "location":("01","01","02","02","02")
}

In [6]:
DataFrame2=pd.DataFrame(dept)  #creating a dataframe from the dictionary "dept"

In [7]:
DataFrame2 #displaying the DataFrame2

  deptno                      deptname location
0    101        Mechanical Engineering       01
1    102             Civil Engineering       01
2    103  Computer Science Engineering       02
3    104        Electrical Engineering       02
4    105       Electronics Engineering       02

### Consider a sales.csv file with the following data:

Dinesh 7800, 6500, 4590

Mahesh 8900,, 3790

Ramesh 10800,, 2300

Suresh 5600, 6790, 2300

Basha 7600, 2300, 2400

### The data represents salesman name and sales in three regions: region1, region2 and region3. Load sles.csv into a data frame called DataFrame3. Give appropriate column names to the columns in DataFrame3. Display the contents of DataFrame3.

LINK TO ACCESS THE (.csv) FILE: https://drive.google.com/file/d/1d6qNkiISJb6a4q0QRx_wvFrK33vuIAd0/view?usp=sharing

In [8]:
DataFrame3=pd.read_csv("./sales.csv",header=None)

FileNotFoundError: ignored

In [ ]:
DataFrame3     #displaying the DataFrame3

In [ ]:
DataFrame3.columns=["Name","Region_01","Region_02","Region_03"]

In [ ]:
DataFrame3  #displaying the DataFrame3

### In this exercise, demonstrate different methods of handling missing data in data frames. For reference, consider the DataFrame3 created in Q.No. 4. In DataFrame3, do the following: fill missing values with zeroes, fill missing values with the mean of their respective column, drop the rows containing missing values, drop the columns containing missing values.

In [ ]:
DataFrame3  #displaying the DataFrame3

In [ ]:
#Filling missing values in the DataFrame3

DataFrame3.fillna("0")

In [ ]:
#Filling missing values with "mean" of values in other rows in DataFrame3

DataFrame3.fillna(DataFrame3.mean())

In [ ]:
#drop the rows containing missing values

DataFrame3.dropna()

In [ ]:
#drop the columns containing missing values.¶

DataFrame3.dropna(axis=1)

### From DataFrame1 create a new data frame called DataFrame4. In DataFrame4, set the employee number as an in-place index. Display data from the 3rd row and 4th column using label-based and integer-based indexing.

In [ ]:
DataFrame4=DataFrame1  #creating a dataframe from previously created DataFrame "DataFrame1"

In [ ]:
DataFrame4.set_index("employeeno",inplace=True)  #modifying the DataFrame4

In [ ]:
DataFrame4  #displaying the DataFrame4

### In DataFrame3 created in Q.No. 5, find the salesmen whose sales are greater than 7000 in region1 but less than 3000 in region2

In [ ]:
DataFrame3  #displaying the DataFrame4

In [ ]:
DataFrame3[(DataFrame3["Region_01"]>7000) & (DataFrame3["Region_02"]<3000)]  #displaying the required values from the DataFrame4, which meet the given condition

### In DataFrame1 created in Q. No. 1, find the employees with the highest salary in each department. Use the group by clause and the max() function. Similarly, in DataFrame3 created in Q. No. 5, find the salesman with the highest amount of sales for each region.

In [ ]:
DataFrame1  #displaying the DataFrame1

In [ ]:
DataFrame1.groupby(["deptno"]).max()

In [ ]:
DataFrame3  #displaying the DataFrame3

In [ ]:
DataFrame3.groupby(["Name"]).sum().max()

### In DataFrame1 created in Q. No. 1, add a new column called Address. In this new column, set the value as ‘Chennai’ for all the existing rows

In [ ]:
DataFrame1  #displaying the DataFrame1

In [ ]:
DataFrame1["Address"]=DataFrame1.shape[0]*["Chennai"]  #modifying the DataFrame1 according to the condition

In [ ]:
DataFrame1  #displaying the modified DataFrame1

### Create a line graph and bar chart to visualize the two data frames, DataFrame1 and DataFrame3.

In [ ]:
DataFrame1 #displaying the DataFrame1

In [ ]:
DataFrame1.plot.line(xlabel="employeeno",ylabel="salary in LPA")

In [ ]:
DataFrame3  #displaying the DataFrame3

In [ ]:
DataFrame3.plot.bar()