<a href="https://colab.research.google.com/github/Prasad3617/Python_Practice/blob/main/WEEK7_PYTHON_PROGRAMMING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classes and Objects

In [ ]:
# an example Employee class to demonstrate the class and objects

class Employee:
    def set_data(self,n,a,s):
        self._name=n
        self._age=a
        self._salary=s
    def display_data(self):
        print("Name:",self._name)
        print("Age:",self._age)
        print("Salary:",self._salary)

In [ ]:
# create objects of Employee class

e1=Employee()
e1.set_data("Ramesh",25,23000)
e2=Employee()
e2.set_data("Suresh",23,21000)

In [ ]:
#displaying the data

In [ ]:
e1.display_data()

Name: Ramesh
Age: 25
Salary: 23000

In [ ]:
e2.display_data()

Name: Suresh
Age: 23
Salary: 21000